<%= render "form", kitten: @kitten %>

<div>
  <div><%= link_to "Back", kitten_path(@kitten) %></div>
  <div><%= link_to "Delete Kitten", kitten_path(@kitten), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
</div>